@use 'colors.scss' as *;

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
