@use 'colors.scss' as *;

.game-cell {
    padding: 8px;
    border-radius: 4px;
    background: $blue10;
    
    &__headers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 4px 0;
    }
    
    &__separator {
        background: $gold;
    }
    
    &__server-list {
        padding: 8px;
        background: $blue25;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
