@use 'colors.scss' as *;
@use 'fonts.scss' as *;

@import 'tippy.js/dist/tippy.css';

.tooltip {
    @include mono;
    font-size: 13px;
    color: $white;
    
    /* From https://css.glass */
    background: rgba($blue, 0.33);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.tippy-content {
    
}

.tippy-arrow {
    color: rgba($blue, 0.95);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(4px);
}
