@use 'colors.scss' as *;

.navbar {
    background: $blue10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__home-button {
        margin: 8px;
    }

    &__debug-button {
        margin: 6px;
        border: solid 2px $red;
    }

    &__navigation {
        display: flex;
        flex-direction: row;

        &__button {
            margin: 8px;
        }
    }
}
