// Palette made with Coolors
// https://coolors.co/bf984a-1c2835-5cff7f-eb4833-f6f8ff

$black: #000000;
$white: #FFFFFF;

// xxx10 => added +10 to brighness in Coolors

$gold: #BF984A;
$gold10: #C6A25C;
$gold25: #CFB277;
$gold50: #DFCCA4;
$gold75: #EFE5D2;

$blue: #1C2835;
$blue10: #2B3E52;
$blue25: #415D7C;
$blue50: #7393B5;
$blue75: #B9C9DA;

$green: #5Cff7F;
$green10: #6CFF8C;
$green25: #85FF9F;
$green50: #ADFFBF;
$green75: #D6FFDF;

$red: #EB4833;
$red10: #ED5B47;
$red25: #F07666;
$red50: #F5A499;
$red75: #FAD1CC;

$lightBlue: #B1DDF1;
$lightBlue10: #B9E0F3;
$lightBlue25: #C4E5F5;
$lightBlue50: #D8EEF8;
$lightBlue75: #EBF6FC;
$lightBlue85: #F3FAFD;

$neutral: $lightBlue85;