/* Font Faces */

@font-face {
    font-family: 'Titillium';
    src: local('Titillium'),
         url('./fonts/TitilliumWeb-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'VictorMono';
    src: local('VictorMono'),
         url('./fonts/VictorMono-VariableFont_wght.ttf') format('ttf');
}

/* Mixins */

@mixin titillium() {
  font-family: 'Titillium', 'Helvetica', 'Arial', sans-serif;
}

@mixin mono() {
  font-family: 'VictorMono', 'Helvetica', 'Arial', sans-serif;
}
