@use './colors.scss' as *;

#root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: $neutral
}