@use 'colors.scss' as *;

.button-link {
    &__button {
        cursor: pointer;
        height: 32px;
        border-radius: 4px;
        padding: 4px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}
