@use 'colors.scss' as *;

.marketplace-card {
    background: $blue50;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
}
